:root {
  --lightest-color: #f7f6f2;
  --tan-color: #ebdce9;
  --neutral-color: #c8c6c6;
  --action-color: #2c507f;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url(./fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato-Black';
  src: url(./fonts/Lato-Black.ttf);
}

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url(./fonts/Lato-BlackItalic.ttf);
}

@font-face {
  font-family: 'Lato-Bold';
  src: url(./fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url(./fonts/Lato-BoldItalic.ttf);
}

@font-face {
  font-family: 'Lato-Italic';
  src: url(./fonts/Lato-Italic.ttf);
}

@font-face {
  font-family: 'Lato-Light';
  src: url(./fonts/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-LightItalic';
  src: url(./fonts/Lato-LightItalic.ttf);
}

@font-face {
  font-family: 'Lato-Thin';
  src: url(./fonts/Lato-Thin.ttf);
}

@font-face {
  font-family: 'Lato-ThinItalic';
  src: url(./fonts/Lato-ThinItalic.ttf);
}

@font-face {
  font-family: 'Rock-Salt';
  src: url(./fonts/RockSalt-Regular.ttf);
}

@font-face {
  font-family: 'SpecialElite-Regular';
  src: url(./fonts/SpecialElite-Regular.ttf);
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--lightest-color);
  font-family: 'Lato-Regular', 'Courier New', Courier, monospace;
  height: 100%;
}

.topContainer {
  display: grid;
  height: 100%;
  grid-template-areas: 'sidebar mainContent';
  grid-template-columns: 250px 2fr;
}

.sidebar {
  background-color: var(--tan-color);
  grid-area: sidebar;
}

.skip-nav-link {
  background-color: var(--action-color);
  color: var(--lightest-color);
  font-size: large;
  padding: 0.5rem 1.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  position: absolute;
  left: 0.5rem;
  transform: translateY(-200%);
  transition: transform 325ms ease-in;
}

.skip-nav-link:focus {
  transform: translateY(0);
  top: 0;
}

header {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  background-color: var(--action-color);
  color: var(--lightest-color);
}

ul {
  margin: 0;
}

button {
  background-color: var(--action-color);
  color: var(--lightest-color);
  font-size: medium;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.mainContentContainer {
  background-image: url(./images/watercolor_background.jpg);
  /* Image by <a href="https://pixabay.com/users/ractapopulous-24766/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2520238">JL G</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2520238">Pixabay</a> */
  background-size: cover;
  grid-area: mainContent;
  padding: 1rem;
}

.cardContainer,
#personalCardContainer,
#workCardContainer,
#shoppingCardContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
  background-color: var(--lightest-color);
  padding: 0.5rem;
  min-height: 210px;
  min-width: 215px;
  display: grid;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 5px rgb(96, 96, 96);
}

.deleteButton {
  width: max-content;
  justify-self: end;
}

.cardTitle {
  align-self: top;
  height: max-content;
  font-size: larger;
  padding: 0.25rem;
}

.taskForm {
  align-self: end;
  display: grid;
  gap: 0.25em;
}
