:root {
  --lightest-color: #f7f6f2;
  --tan-color: #f0e5cf;
  --neutral-color: #c8c6c6;
  --action-color: #4b6587;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url(./fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato-Black';
  src: url(./fonts/Lato-Black.ttf);
}

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url(./fonts/Lato-BlackItalic.ttf);
}

@font-face {
  font-family: 'Lato-Bold';
  src: url(./fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url(./fonts/Lato-BoldItalic.ttf);
}

@font-face {
  font-family: 'Lato-Italic';
  src: url(./fonts/Lato-Italic.ttf);
}

@font-face {
  font-family: 'Lato-Light';
  src: url(./fonts/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-LightItalic';
  src: url(./fonts/Lato-LightItalic.ttf);
}

@font-face {
  font-family: 'Lato-Thin';
  src: url(./fonts/Lato-Thin.ttf);
}

@font-face {
  font-family: 'Lato-ThinItalic';
  src: url(./fonts/Lato-ThinItalic.ttf);
}

@font-face {
  font-family: 'Rock-Salt';
  src: url(./fonts/RockSalt-Regular.ttf);
}

@font-face {
  font-family: 'SpecialElite-Regular';
  src: url(./fonts/SpecialElite-Regular.ttf);
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--lightest-color);
  font-family: 'Lato-Regular', 'Courier New', Courier, monospace;
  height: 100%;
}

.topContainer {
  display: grid;
  height: 100%;
  grid-template-areas: 'sidebar mainContent';
  grid-template-columns: 250px 2fr;
}

.sidebar {
  background-color: var(--neutral-color);
  grid-area: sidebar;
}

.skip-nav-link {
  background-color: var(--action-color);
  color: var(--lightest-color);
  font-size: large;
  padding: 0.5rem 1.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  position: absolute;
  left: 0.5rem;
  transform: translateY(-200%);
  transition: transform 325ms ease-in;
}

.skip-nav-link:focus {
  transform: translateY(0);
  top: 0;
}

ul {
  margin: 0;
}

.mainContentContainer {
  background-image: url(./images/watercolor_background.jpg);
  /* Image by <a href="https://pixabay.com/users/ractapopulous-24766/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2520238">JL G</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2520238">Pixabay</a> */
  background-size: cover;
  grid-area: mainContent;
}

.card {
  background-color: var(--lightest-color);
  padding: 0.5rem;
  width: max-content;
}
